<html>
<head>
  <title>Djif — Not pronounced Gif</title>
  <style>
    body {
      margin: 0; padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
    }

    h1 { font-size: 72px; margin: 10% 0 .4em }
    a { color: hotpink }
  </style>
</head>
<body>
  <h1>Djif</h1>
  <a href="https://github.com/EtienneLem/djif">https://github.com/EtienneLem/djif</a>
</body>
</html>
